@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');
body { 
  font-family: 'roboto', sans-serif;
  background: url('../pics/bg-body.png') #fff;
  margin:0;
}
*{
  box-sizing: border-box
}
.wrapper {
	max-width: 1600px;
	margin: 0 auto
}
header {
  line-height: 0px;  
}
img {
	max-width: 100%;
}
.title{
	margin: 0 0 20px;
	overflow: hidden;
	background: url('../pics/bg-title.gif') repeat-x 0 50%;
}

h2 {
  font-family: 'roboto slab', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #2874A6;
  padding: 20px 0px;
  background: #fff;
  float: left;
  letter-spacing: 2px;
  margin: 0px;
}

.content {
	display: flex;
	flex-wrap: nowrap;
	min-height: 500px;
	align-items: stretch
}
main p{
  line-height: 25px;
}

nav {
  background: rgb(46, 7, 1); 
	flex-basis: 17vw;
  order: 1;
}

nav ul {
	margin: 0;
	padding: 10px 10px 10px 10px;
	list-style: none;
}
nav li {
	border-bottom: 1px rgba(255,255,255,0.3)
}
nav a {
	display: block;
	padding: 15px;
  font-size: 18px;
	text-decoration: none;
	color: rgb(182, 182, 182);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5)
}
nav a:hover {
	background: rgba(255,255,255,0.2);
	color: rgb(182, 182, 182);
  border-radius: 5px;
}
nav img {
  max-width: 100%;
  padding: 40px 25px 40px; 
  border-bottom: 1px dashed rgba(255,255,255,0.3)
}

main {
	flex-basis: 61vw;
	order: 2;
	margin: 0px;
  padding: 0 20px;
  background-color:#fff;
}

.people {
	display: flex;
	flex-wrap: wrap;
	margin: 0 10px
}
.people-box {
	flex: 1;
	min-width: 250px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 0 0 10px 0;
	margin: 0 10px 20px 10px
}
.people-box h2 {
	font-size: 18px;
	padding: 10px 20px 0 20px;
	margin: 0
}
.people-box p {
	margin: 0;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 19px
}


aside {
	flex-basis: 22vw;
	order: 3;  
  background: rgb(46, 7, 1,.3);  
}
aside ul {
	list-style: none;
  padding: 0;
	margin: 0;	
}
aside a {
	display: block;
	color: #354052;
  padding: 15px;
	font-size: 14px;
	text-decoration: none;
	line-height: 20px
}
aside a:hover {
	text-decoration: underline;
  background:  rgba(46, 7, 1, .9);
	color: #fff;
  border-radius: 5px;
}
aside li {
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.aside-title {
  color:rgb(46, 7, 1);;  
  font-weight: 700;
  font-size: 16px;  
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 40px 15px 15px 15px;
  text-shadow: 0 0 2px rgba(255, 255, 255)
}
aside h3 {
  padding: 0 15px;
  font-size: 16px;
}
aside p{
  padding: 0 15px;
  margin: 0;
  line-height: 25px;
}

footer {
  border-top: 4px solid rgba(22, 68, 105, 1);
  background: url('../pics/footerbg1.png') repeat;  
}
footer a{  
  margin: 0;
  padding: 0px 20px;
  color:rgb(206, 206, 206);  
  font-size: 14px;
  text-decoration: none;
}

.worker-h1 {
  color: rgba(22, 68, 105, 1); 
  background: #fff; 
  font-weight: 700;
  font-size:32px;  
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 40px 15px 0px 15px;
}


.worker-h2 {
  color: rgba(22, 68, 105, 1);
  background: #fff;  
  font-weight: 700;
  font-size:16px;  
  letter-spacing: 1px;  
  padding: 0px 15px 15px 15px;
}


.worker-h3 {   
  font-weight: 700;     
  font-size:16px;  
  letter-spacing: 1px;  
  padding: 15px 15px 15px 15px;
  
}

.worker-content{
  line-height: 30px;
}