@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');
body { 
  font-family: 'roboto', 'sans-serif';
  background: url('../pics/bg-body.png') #fff;
  margin:0;
}
*{
  box-sizing: border-box
}
.wrapper {
	max-width: 1500px;
	margin: 0 auto;  
}
header {
  line-height: 0px;  
}
img {
	max-width: 100%;
}
.title{
	margin: 10px 0 10px 0;
	overflow: hidden;
	/*background: url('../pics/bg-title.gif') repeat-x 0 50%;*/
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h2 {
  /*font-family: 'roboto slab', sans-serif;*/
  font-weight: 700;
  font-size: 20px;
  color: #2874A6;
  padding: 20px 5px 0 0;
  background: #fff;  
  letter-spacing: 2px;
  margin: 0px;
}

h3 {
  font-weight: 400;
  color: #2874A6;
  letter-spacing: 1px;
  margin: 0px;
  padding: 10px 5px 0 0;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #194e6e;  
  margin: 0px;
  padding: 10px 5px 0 0;
}

.content {
	display: flex;
	flex-wrap: nowrap;
	min-height: 1000px;
	align-items: stretch;
  border-top: 3px solid rgba(22, 68, 105, 1);
}
main p{
  line-height: 27px;
}

.img-right {
  float: right;
  margin: 0 0 20px 20px;
}

.img-right p{
  line-height: 16px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: #343639;
}

.img-right img{  
  min-width: 280px;
}

.lib ul {
  margin: 10px 0px;  
}

.lib .marked_list {
  margin: 10px 20px;
  list-style:disc;
}

nav {  
  border-left: 1px solid rgb(135, 156, 173);
  border-right: 1px solid rgb(135, 156, 173); 
	flex-basis: 17vw;
  order: 1;
  background: #8ba4c8;  
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li {
	border-bottom: 1px rgba(255,255,255,0.3)
}

nav a {
	display: block;
	padding: 13px 25px;
  font-size: 20px;
  letter-spacing: 2px;
	text-decoration: none;
	color: rgb(43, 56, 62);
  font-weight: 700;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5)
}

nav a:hover {
	background: rgba(68, 113, 156, 0.2);
	color: rgb(4, 58, 83);
  border-radius: 5px;
}

nav img {
  max-width: 100%;
  padding: 40px 25px 40px; 
  border-bottom: 1px dashed rgba(255,255,255,0.3)
}

nav .has_submenu{
  position: relative;
}

.l1 {
  list-style: disc;
  padding-left: 20px;
}
.l1 li{
  line-height: 24px;
}

.l1>li {
  padding: 10px 0;
}

.l2 {
  list-style: circle;
  padding-left: 25px;
}

.l3 {
  margin: 10px 0;
  list-style: none;  
}
.l3 li{
  line-height: 22px;
}

p {
  margin: 10px 0;
}

.read_more a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.read_more a:hover {
  text-decoration: underline overline;
}

.read_more {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 25px; 
}
.img-right img{
  max-width: 250px; 
  min-width: 250px; 
  
}

.fig-caption {
  max-width: 250px; 
  min-width: 250px;
  padding-bottom: 15px;
}
/*
nav .has_submenu::after{
  content:'🢒';
  color: rgb(43, 56, 62);
  position: absolute;
  top: 6px;
  right: 27px;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5)
}

nav .has_submenu:hover::after{
  color: rgb(4, 58, 83);
}
*/

nav .has_submenu:hover .submenu{
  display: block;
}

nav .submenu {
  position: absolute;  
  width: 300px;
  top: 0px;
  right: -300px;
  background: #8ba4c8;
  display: none;
}

nav .submenu a{
  display: block;
  padding: 13px 8px;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(43, 56, 62);
  font-weight: 500;
  text-shadow: none;  
}

nav .submenu a:hover{
  color: rgb(4, 58, 83);
}

main {
	flex-basis: 61vw;
	order: 2;
	margin: 0px;
  padding: 0 20px;
  background-color:#fff;
}

.people {
	display: flex;
	flex-wrap: wrap;
	margin: 0 10px;  
}
.people-box {
	flex: 1;
	min-width: 250px;
  max-width: 250px;
	background: #fff;
	border: 1px solid #ddd;	
	margin: 0 10px 20px 10px;
  padding: 0px 0 10px 0;
  box-shadow: 2px 3px rgba(0,0,0,.1);
  border-radius: 6px;
}
.people-box-header{
  background: rgb(66, 69, 72);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 1px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  max-height: 250px;
  min-height: 250px;
}
.people-box-name{
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5px;
  padding-top: 8px;
}

.people-sep {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 20px 0 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2874A6;
  text-decoration: underline;
  text-shadow: 2px 1px rgba(66, 69, 72,.2);
}

.people-box h2 {	
	padding: 10px 20px 0 20px;
	margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0;
}
.people-box h3 {
  font-style: italic;
  margin: 0;
  padding-left: 20px;
  color: rgba(0,0,0,.7);
  font-size: 16;
}

.people-box a {
  text-decoration:none;
  
}
.people-box p {
	margin: 0;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 19px
}
.people-box img{
  min-width: 150px;
  max-width: 150px;
  max-height: 150px;
  margin: auto;
  display: block
}
.people-contacts ul{
  list-style:none;
  padding: 10px 10px 0px 10px;
  line-height: 20px;
  color: rgb(66, 69, 72);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

aside {
	flex-basis: 22vw;
	order: 3;  
  background: #8ba4c8;;
  border-left: 1px solid rgb(135, 156, 173);
  border-right: 1px solid rgb(135, 156, 173); 
  padding-bottom: 200px;  
}

aside ul {
	list-style: none;
  padding: 0;
	margin: 0;	
}

aside a {
	display: block;
	color: #343639;
  padding: 15px;
	font-size: 14px;
	text-decoration: none;
	line-height: 20px
}

aside a:hover {
	text-decoration: none;  
  border-radius: 5px;
  background: rgba(68, 113, 156, 0.2);
	color: rgb(4, 58, 83);
}

.rg-btn{
  margin: 5px 40px;
  max-width: 17%;
}

.mtmt-btn {
  margin: 4px 17px 0;
  max-width: 39%;
}

aside li {
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

aside h3 {
  color:#343639;
  font-weight: 400;
}

aside p {
  color:#354052;
  font-weight: 300;
  line-height: 15px;
}

.aside-title {
  color: rgb(43, 56, 62);
  font-weight: 700;
  font-size: 16px;  
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 15px 10px 15px;  
}

aside h3 {
  padding: 0 15px;
  font-size: 16px;
}

aside p{
  padding: 0 15px;
  margin: 0;
  line-height: 20px;
  font-size: 14px;
}
aside ul {
  padding: 0;
  padding: 5px 0 5px 15px;
  color: #343639;
  line-height: 20px;
  font-size: 14px;
  }
aside li {
  border-bottom: 0px
}

.language-selector-box{
  position: relative;
  margin: 30px 15px 0 0;
}

.language-selector {
  position:absolute;
  top:0;
  right:0;
  color: #494b4e;
}


.language-selector a{
  display: inline;
  padding: 0;
  font-size: 16px;
  color: #343639;
}

.language-selector a:hover{
  text-decoration: underline;
  border-radius: 5px;
  background: rgba(68, 113, 156, 0);
  color: #494b4e;
}

footer {
  border-top: 5px solid rgba(22, 68, 105, 1);
  background: url('../pics/footerbg1.png') repeat;
  padding: 5px; 
}

footer a{  
  margin: 0;
  padding: 0px 20px;
  color:rgb(206, 206, 206);  
  font-size: 16px;
  text-decoration: none;
}

.worker-h1 {
  /*
  color: rgba(22, 68, 105, 1); 
  background: #fff; 
  */  
  color:  rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size:32px;  
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 5px 15px;
}

.worker-h2 {
  /*
  color: rgba(22, 68, 105, 1);
  background: #fff;  
  */
  color:  rgba(255, 255, 255, 0.7);  
  font-weight: 700;
  font-size:18px;  
  letter-spacing: 2px;  
  padding: 0px 15px 15px 15px;
}

.worker-h3 {   
  font-weight: 700;     
  font-size:18px;  
  letter-spacing: 1px;  
  padding:2px;  
}

.worker-content ul {  
  list-style: square;  
  padding: 0px 25px 0px 35px;
  line-height: 18px; 
  margin: 5px 0px;
}

.worker-content li {  
  padding: 0px 5px;
  line-height: 18px;
  text-align: justify;
  text-justify: inter-word; 
  font-weight: 400;     
  font-size:16px;  
  letter-spacing: normal;  
}

.worker-content-no-marker ul {  
  margin: 5px 0;
  list-style: none;  
  padding: 0px 40px;
  line-height: 18px; 
  font-weight: 400;     
  font-size: 16px;  
  letter-spacing: normal;  
}

.worker-content-no-marker img{
  max-width: 40%;
}

.title2{
	margin: 0 0 2px;
	overflow: hidden;
	background: url('../pics/bg-title.gif') repeat-x 0 50%;
}

.title3 {
  margin: 0 0 8px 20px;
  font-weight: 400;
}

.hidden { 
  display: none;
}

.worker-button a {
  display: block;
	color: #354052;  
  padding: 15px;
	font-size: 14px;
	text-decoration: none;
	line-height: 20px
}

.worker-header {
  display: flex;
	flex-wrap: nowrap;
  background: rgb(66, 69, 72);
  justify-content: center;
  align-items: center;
  margin: 15px -15px;
  min-height: 250px;
}

.worker-header-left{
  flex-basis: 60vw;
  margin: 0 0 0 20px;
  order: 1;
}

.worker-header-right{
  flex-basis: 40vw;
  order: 2;
}

.worker-img{
  margin: 0;
  padding: 0;
  min-height: 250px;
  max-height: 250px;
  display: block;
  margin: auto;  
}

.lab-header {
  display: flex;
	flex-wrap: nowrap;
  background: rgb(66, 69, 72);
  justify-content: space-between;
  align-items: center;
  margin: 15px -15px;
  min-height: 150px;
  max-height: 150px;
  position: relative;
}

.lab-header-left{
  flex-basis: 60vw;
  margin: 0 0 0 20px;
  order: 1;
}

.lab-header-right{
  flex-basis: 40vw;
  order: 2;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 150px;
  max-height: 150px;
}

.lab-img{
  margin: 0;
  padding: 0;
  min-height: 150px;
  max-height: 150px;
  display: block;
  margin: auto;  
}

.lab-h1 {
  /*
  color: rgba(22, 68, 105, 1); 
  background: #fff; 
  */  
  color:  rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size:32px;  
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 5px 15px;
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?96500972');
  src: url('../font/fontello.eot?96500972#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?96500972') format('woff2'),
       url('../font/fontello.woff?96500972') format('woff'),
       url('../font/fontello.ttf?96500972') format('truetype'),
       url('../font/fontello.svg?96500972#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;  
  display: inline-block;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  width: 1em;
  text-align: center;
  margin-right: 10px;
}
 
.icon-print:before { content: '\e800'; }
.icon-mail:before { content: '\e801'; }
.icon-phone:before { content: '\e802'; } 
.icon-location:before { content: '\e803'; } 
.icon-home:before { content: '\e804'; } 
.icon-fax:before { content: '\f1ac'; } 
.icon-copyright:before { content: '\f1f9'; } 
.icon-at:before { content: '\f1fa'; } 