body {
  background: #34495e;
  color: #1abc9c;
}
*{
  box-sizing: border-box
}
.navbar {
  border-radius: 0;
}
.jumbotron-midnight {  
  background: #34495e;
  color: #1abc9c;
  padding: 10px; 
}
.text-centered {text-align: center;}
.no-margin {margin: 0; }

@media(max-width: 767px){
  .jumbotron h1 {
    font-size: 31px;
  }
}
img {
  max-width: 100%;
}

.showcase-item {
  height: 220px;
  padding: 2px;
  
}

  .showcase-item-box {
    background:#7f8c8d;
    color:#ffffff;
    padding: 40px;
    height: 100%;
    width: 100%;
    text-align: center
  }

.full-width {  
 width: 100%;
}

.margin-bt-3{
  margin-bottom: 3px
}
.logos {  
  font-size: 30px;
  padding: 10px;  
  min-height: 53px;  
  border: none;  
  background:#dadcdd;
  color: #000000
}
.image{
  max-width: 80%;  
}

.jumbotron-grey{
  background: #3f3f3f;
  border-radius: 5px;
  padding: 15px;  
  border-style: solid;
  border-width: 2px;
}

.jumbotron-white{
  background: #dfdfdf;
  color:black;
  border-radius: 0px;
  border-width: 5px;
  border-color: rgb(70, 70, 70);
  padding: 2px; 
}
.nopadding{
  padding: 0px;
}

.res_row{
  padding-left:15px
  
}
.text-centered ul {
  list-style-type: none;
} 
.text-centered ul li {
  border-bottom: 1px dashed rgba(255, 255, 255,.2)
}
.text-centered ul li p {
  border-left: 4px solid rgba(22, 68, 105, 1);
  margin: 0;
  padding: 0 5px;
  font-size: 16px
}

.text-centered a:hover {
  background: rgba(255, 255, 255,.1);
  padding: 15px 
}

.text-centered a {
  
  text-decoration: none;
  padding: 15px 0px;
  display: block;
}

.grid-container {
  min-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "AR0 AR1 combined";
}
.AR0 { grid-area: AR0; }
.AR1 { grid-area: AR1; }
.combined { grid-area: combined; }